<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="previous()">
      <i class="fas fa-arrow-left p-2 ps-3" style="font-size: 18px;"></i>
      
      <img src="{{logo}}" alt="" style="height: 50px;">
    </a>
  </div>
</nav>

<div class="d-flex align-items-center justify-content-center">
  <div class="text-center">
      
    <h1>Thank you</h1>

    <br>
    <table>
      <tr><th style="font-size: 20px; min-width: 150px;">Requirement</th>
        <th style="font-size: 20px; min-width: 150px;">Your Answer</th></tr>
      <tr *ngFor="let ans of answer">
        <td style="font-size: 16px; text-align: left;">{{ans.key}}</td>
        <td style="font-size: 16px; text-align: left;">{{ans.value}}</td></tr>
    </table>
  </div>
</div>

<footer *ngIf="suspended" style="position: fixed; bottom: 0; width: 100%; background-color: white; text-align: end; padding-right: 20px;">
  Developed by <a href="https://infotechgalaxy.com">InfotechGalaxy</a>
</footer>