<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="previous()">
      <i class="fas fa-arrow-left p-2 ps-3" style="font-size: 18px;"></i>
      
      <img src="{{logo}}" alt="" style="height: 50px;">
    </a>
  </div>
</nav>

<div class="d-flex align-items-center justify-content-center">

  <mat-tab-group class="invisible-tabs" style="height: 85vh; width: 100%; overflow: hidden;" [selectedIndex]="selectedIndex" color="transparent">
  
    <mat-tab *ngFor="let form_quest of form_questions_grouping">
      
      <div class="container mt-md-4 mt-0">

        <div class="row">
          <ng-container *ngFor="let quest of form_quest">
            
            <div class="col-12 col-md-{{quest.col_size}}">            

              <div *ngIf="quest.type=='label'" class="row"><div class="col-12"><h2><b>{{answer[quest.question]}}</b></h2></div></div>

              <div class="row" *ngIf="(!quest.other_type || quest.other_type=='sub') && quest.type!='label' && quest.type!='next' && quest.type!='submit'">
                <div class="col-12">            
                  <label for="{{quest.qid}}"><h3>{{quest.question}}</h3></label>
      
                  <input class="form-control" id="{{quest.qid}}" name="{{quest.qid}}"
                  *ngIf="quest.type == 'text' || quest.type == 'number' || quest.type == 'file' || quest.type == 'url'" 
                  [(ngModel)]="answer[quest.question]"
                  type="{{quest.type}}" (input)="add(quest, $any($event.target).value)" min="{{quest.min}}" max="{{quest.min}}">
                  
                  <input class="check m-3" id="{{quest.qid}}" name="{{quest.qid}}"
                  *ngIf="quest.type == 'checkbox'" 
                  [(ngModel)]="answer[quest.question]"
                  type="{{quest.type}}" (input)="add(quest, $any($event.target).checked)" min="{{quest.min}}" max="{{quest.min}}">
                  
                  <input class="form-control" id="{{quest.qid}}" name="{{quest.qid}}"
                  [(ngModel)]="answer[quest.question]"
                  *ngIf="quest.type == 'date'" type="{{quest.type}}" (input)="add(quest, $any($event.target).value)">
                  
                  <div class="row" *ngIf="quest.type == 'location'" >

    
                    <div class="col-md-8">
                                
                      <input class="form-control" ngx-google-places-autocomplete (onAddressChange)="AddressChange($event)" [(ngModel)]="address"/>
                      <br>

                    </div>
                    <div class="col-md-4">

                      
                      Latitude : {{answer.lat}}<br>
                      Longitude : {{answer.lng}}
                    </div>
                    <div class="col-md-12">

                      <agm-map
                      style="height: 400px; width:100%;"
                        [latitude]="answer.lat"
                        [longitude]="answer.lng"
                        [zoom]="8"
                        [disableDefaultUI]="false"
                        [zoomControl]="false"
                        (mapClick)="selectLocation($event)"
                        >
                        <agm-marker
                          [latitude]="answer.lat"
                          [longitude]="answer.lng"
                          [label]="''"
                          [markerDraggable]="true"
                          (dragEnd)="selectLocation($event)"
                        >
                          <agm-info-window>
                            <strong>InfoWindow content</strong>
                          </agm-info-window>
                        </agm-marker>
                      </agm-map>
                    </div>
    
    
                  </div>



                  <div class="row" *ngIf="quest.other_type == 'sub' && quest.type == 'checkbox' && quest.multiselect == 0 && answer[quest.question]">
                    
                    <ng-container *ngFor="let quest2 of form_questions">

                      <div class="col-md-{{quest2.col_size}}" *ngIf="quest2.other_type==quest.qid">
                        <div class="row">
                          
                          <div class="col-4 d-flex align-items-center">
                            {{quest2.question}}
                          </div>

                          <div class="col-8" *ngIf="quest2.type == 'text' || quest2.type == 'number' || quest2.type == 'date' || quest2.type == 'url'" >

                            <input class="form-control m-1" id="{{quest2.qid}}" name="{{quest2.qid}}"
                            type="{{quest2.type}}" (input)="add(quest2, $any($event.target).value)" 
                            min="{{quest2.min}}" max="{{quest2.min}}">
                            
                          </div>
                          
                                        
                          <div class="col-8" *ngIf="quest2.options_id && quest2.type == 'select'">

                            <select class="form-select" (input)="add(quest2, $any($event.target).value)">

                              <ng-container *ngFor="let opt of options">

                                <option *ngIf="opt.option_id == quest2.options_id" value="{{opt.option}}">{{opt.option}}</option>
                  
                              </ng-container>

                            </select>
                          </div>

                        </div>
                      </div>

                    </ng-container>
                  </div>

                  <div class="row" *ngIf="quest.other_type == 'sub' && quest.type == 'checkbox' && quest.multiselect == 1 && answer[quest.question]">
                    
                    <ng-container *ngFor="let item of [].constructor(answer[quest.question+'_count'] || 1); let i = index">
                      <ng-container *ngFor="let quest2 of form_questions">

                        <div class="col-md-{{quest2.col_size}}" *ngIf="quest2.other_type==quest.qid">
                          <div class="row">
                            
                            <div class="col-4 d-flex align-items-center">
                              {{quest2.question}}
                            </div>

                            <div class="col-8" *ngIf="quest2.type == 'text' || quest2.type == 'number' || quest2.type == 'date' || quest2.type == 'url'" >

                              <input class="form-control m-1" id="{{quest2.qid}}" name="{{quest2.qid}}"
                              type="{{quest2.type}}" (input)="add2(quest2, quest2.question, quest.question+'_'+i, $any($event.target).value)" 
                              min="{{quest2.min}}" max="{{quest2.min}}">
                              
                            </div>
                            
                                          
                            <div class="col-8" *ngIf="quest2.options_id && quest2.type == 'select'">

                              <select class="form-select" (input)="add2(quest2, quest2.question, quest.question+'_'+i, $any($event.target).value)">

                                <ng-container *ngFor="let opt of options">

                                  <option *ngIf="opt.option_id == quest2.options_id" value="{{opt.option}}">{{opt.option}}</option>
                    
                                </ng-container>

                              </select>
                            </div>

                          </div>
                        </div>

                      </ng-container>
                    </ng-container>

                    <div class="col-12">

                      <button class="btn btn-info" (click)="answer[quest.question+'_count'] = (answer[quest.question+'_count'] || 1) + 1">
                          + Add More
                      </button>

                    </div>

                  </div>

                </div>
      
                <div class="col-12" *ngIf="quest.options_id && quest.type == 'options'">
      
                  <ng-container *ngFor="let opt of options">

                    <ng-container *ngIf="opt.option_id == quest.options_id">

                      <button class="btn"  [ngClass]="answer[quest.question]?.includes(opt.option) ? 'btn-primary' : 'btn-light'" 
                                            (click)="add_option(quest, opt.option, opt.type, quest.multiselect)">
                        {{opt.option}}
                      </button>

                      <div class="row mb-2" *ngIf="quest.other_type == 'sub' && !sub_type_not_for.includes(opt.option) && answer[quest.question]?.includes(opt.option)">
                        <ng-container *ngFor="let quest2 of form_questions">

                          <div class="col-md-{{quest2.col_size}}" *ngIf="quest2.other_type==quest.qid && answer[quest.question]?.includes(opt.option)">
                            <div class="row">
                              
                              <div class="col-4">
                                <br>
                                {{quest2.question}}
                              </div>
    
                              <div class="col-8" *ngIf="quest2.type == 'text' || quest2.type == 'number' || quest2.type == 'date'" >
    
                                <input class="form-control m-1" id="{{quest2.qid}}" name="{{quest2.qid}}"
                                type="{{quest2.type}}" (input)="add2(quest2, quest2.question, opt.option, $any($event.target).value)" 
                                min="{{quest2.min}}" max="{{quest2.min}}">
                                
                              </div>
    
                              <div class="col-4" *ngIf="quest2.type == 'range'" >
                                
                                    <input class="form-control m-1" id="{{quest2.qid}}" name="{{quest2.qid}}"
                                    type="number" (input)="add2(quest2, quest2.question+' from', opt.option, $any($event.target).value)" 
                                    min="{{quest2.min}}" max="{{quest2.min}}" placeholder="From">
                                
                              </div>
    
                              <div class="col-4" *ngIf="quest2.type == 'range'" >
    
                                    <input class="form-control m-1" id="{{quest2.qid}}2" name="{{quest2.qid}}2"
                                    type="number" (input)="add2(quest2, quest2.question+' to', opt.option, $any($event.target).value)" 
                                    min="{{quest2.min}}" max="{{quest2.min}}" placeholder="To">
    
                              </div>
                            </div>
                          </div>

                        </ng-container>
                      </div>

                      

                    </ng-container>
      
                  </ng-container>

                  <div *ngIf="quest.multiselect == 1 && insert_option_key!=quest.question">
                    <button class="btn btn-info" (click)="insert_option_key=quest.question">
                      + Add More
                    </button>
                  </div>

                  <div *ngIf="quest.multiselect == 1 && insert_option_key==quest.question">
                    <div class="row col-md-6">
                      <div class="col-8">
                        
                        <input class="form-control m-1" type="text" [(ngModel)]="insert_option_val" placeholder="Custom Option">

                      </div>
                      <div class="col-4">
                        <button class="btn btn-primary" (click)="insert_option(quest.options_id, insert_option_val)">
                          Submit
                        </button>
                        
                      </div>
                    </div>
                  </div>

                </div>
      
                <div class="col-12" *ngIf="quest.options_id && quest.type == 'image_options'">
      
                  <ng-container *ngFor="let opt of options">
      
                    <img *ngIf="opt.option_id == quest.options_id" style="height: 100px" src="{{opt.option}}" alt="" (click)="add(quest, opt.option)">
      
                  </ng-container>
                </div>
      
                <div class="col-12" *ngIf="quest.options_id && quest.type == 'select'">

                  <select class="form-select" (input)="add(quest, $any($event.target).value)">

                    <ng-container *ngFor="let opt of options">

                      <option *ngIf="opt.option_id == quest.options_id" value="{{opt.option}}">{{opt.option}}</option>
        
                    </ng-container>

                  </select>
                </div>
      
              </div>

            </div>
              
              <div *ngIf="quest.type=='next' || quest.type=='submit' || quest.type=='add_more'" class="col-6 col-md-9"></div>

              <div class="col-6 col-md-3" *ngIf="quest.type=='next'">
                  <button class="btn btn-sm btn-info w-100 d-flex align-items-center justify-content-center" (click)="next(quest.question)">Next</button>
              </div>
              
              <div class="col-6 col-md-3" *ngIf="quest.type=='add_more'">
                  <button class="btn btn-sm btn-warning w-100 d-flex align-items-center justify-content-center" (click)="add_more()">Add More</button>
              </div>

              <div class="col-6 col-md-3" *ngIf="quest.type=='submit'">
                  <button class="btn btn-sm btn-success w-100 d-flex align-items-center justify-content-center" (click)="submit()">Submit</button>
              </div>

          </ng-container>
        </div>
    
      </div>
  
    </mat-tab>

  </mat-tab-group>
</div>



<footer *ngIf="suspended" style="position: fixed; bottom: 0; width: 100%; background-color: white; text-align: end; padding-right: 20px;">
  Developed by <a href="https://infotechgalaxy.com">InfotechGalaxy</a>
</footer>
