h1,h2,h3,h4,h5,h6 {
  font-family: "CaustenRegular";
}

progress{
    -webkit-transition : width 5s ease;
    -moz-transition : width 5s ease;
    -o-transition : width 5s ease;
    transition : width 5s ease;
  }
  
  progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.1) inset;
  }
  
  progress[value]::-webkit-progress-value {
  
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(255, 255, 255, 0.1) 33%, 
                                 rgba(255, 255, 255, 0.1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, 0.25), 
                                 rgba(255, 255, 255, 0.25)),
         -webkit-linear-gradient(left, #09ff00, #00FCF9);

    background-size: 10px 10px, 100% 100%, 100% 100%;
  
      
  }
  
  @-webkit-keyframes animate-stripes {
    100% { background-position: -100px 0px; }
  }
  
  @keyframes animate-stripes {
    100% { background-position: -100px 0px; }
  }

  
  .demo-inline-calendar-card {
    width: 300px;
  }

  .remove-border-bottom .mat-tab-header {
    border-bottom: none;
  }

  .remove-border-bottom ::ng-deep .mat-tab-header {
    border-bottom: none;
  }

  ::ng-deep .mat-tab-header {
    display: none!important;
    }

    
.upload-btn-wrapper {
  position: relative;
  // overflow: hidden;
  // display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: dashed 1px rgb(185, 184, 184);
  height: 100px;
  background-color: #f9f9f9;
}
.upload-btn-wrapper input[type=file] {
      
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.form-check-input[type=checkbox], .form-check-input {
  border-color: rgb(206, 206, 206) !important;
  min-width: 18px;
}

.form-check-input[type=checkbox]:checked, .form-check-input:checked {
  border-color: transparent !important;
  background-color: #01B0AE !important;
}

.form-check:hover {
  background-color: #f1f9f9;
}

/* do not group these rules */
*::-webkit-input-placeholder {
  color: rgb(172,172,172);
}
*:-moz-placeholder {
  /* FF 4-18 */
  color: rgb(172,172,172);
  opacity: 1;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: rgb(172,172,172);
  opacity: 1;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: rgb(172,172,172);
}
*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(172,172,172);
}
*::placeholder {
  /* modern browser */
  color: rgb(172,172,172);
}


.rating-star {
  color: #FFA916;
  font-size: 30px;
  margin-right: 10px;
  
  //text-shadow: 0 0 3px #000;
}

.rating-star-unselected {

  color: #D9D9D9;
  font-size: 30px;
  margin-right: 10px;
}

.country_code {
  
  width: 80px !important; 
  height: 25px !important;
  margin: 1px !important;
  padding: 1px !important;
  outline: none !important;
  border: none !important; 
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  outline-color: transparent !important;
}

.ccp_mobile {
  width: 100%; 
  border: none; 
  background: none; 
  border-left: solid 1px rgb(160, 160, 160);
  padding-left: 10px;
}

.container {
  margin-bottom: 60px !important;
}


.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}