
<!-- As a link -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="previous()">
        <i class="fas fa-arrow-left p-2 ps-3" style="font-size: 18px;"></i>
        
        <img src="{{logo}}" alt="" style="height: 50px;">
      </a>
    </div>
</nav>
  
<div class="container" *ngIf="!access_granted">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            
            <h2>Admin Login</h2>

            <br>

            <input class="form-control" type="text" placeholder="Username" [(ngModel)]="username">
            <br><br>
            <input class="form-control" type="text" placeholder="Password" [(ngModel)]="password">
            <br><br>
            <button class="btn btn-success w-100" (click)="verify()">
                Verify
            </button>
        </div>
    </div>
</div>


<div class="container" *ngIf="access_granted">

    <br>
    
    <h2>Enquiry Details</h2>

    <br>

    <button class="btn btn-success" (click)="ExportTOExcel()">
        Save as Excel
    </button>
    
    <button class="btn btn-info" (click)="print()">
        Print
    </button>

    <table class="table" #table>

        <tr>
            <th *ngFor="let key of keys"><b>{{key}}</b></th>
        </tr>

        <tr *ngFor="let ans of answers">
            <td *ngFor="let key of keys">{{ans[key]}}</td>
        </tr>

    </table>
</div>



<footer *ngIf="suspended" style="position: fixed; bottom: 0; width: 100%; background-color: white; text-align: end; padding-right: 20px;">
    Developed by <a href="https://infotechgalaxy.com">InfotechGalaxy</a>
</footer>
  
  