
@font-face {
    font-family: 'CaustenBlack';
    font-style: normal;
    font-weight: bolder;
    src: url('assets/font/causten/Causten-Black.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenBlackOblique';
    font-style: oblique;
    font-weight: bolder;
    src: url('assets/font/causten/Causten-BlackOblique.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenBold';
    font-style: normal;
    font-weight: bold;
    src: url('assets/font/causten/Causten-Bold.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenBoldOblique';
    font-style: oblique;
    font-weight: bold;
    src: url('assets/font/causten/Causten-BoldOblique.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenExtraBold';
    font-style: normal;
    font-weight: bolder;
    src: url('assets/font/causten/Causten-ExtraBold.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenExtraBoldOblique';
    font-style: oblique;
    font-weight: bolder;
    src: url('assets/font/causten/Causten-ExtraBoldOblique.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenExtraLight';
    font-style: normal;
    font-weight: lighter;
    src: url('assets/font/causten/Causten-ExtraLight.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenExtraLightOblique';
    font-style: oblique;
    font-weight: lighter;
    src: url('assets/font/causten/Causten-ExtraLightOblique.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenLight';
    font-style: normal;
    font-weight: 100;
    src: url('assets/font/causten/Causten-Light.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenLightOblique';
    font-style: oblique;
    font-weight: 100;
    src: url('assets/font/causten/Causten-LightOblique.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenMedium';
    font-style: normal;
    font-weight: normal;
    src: url('assets/font/causten/Causten-Medium.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenMediumOblique';
    font-style: oblique;
    font-weight: normal;
    src: url('assets/font/causten/Causten-MediumOblique.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenRegular';
    font-style: normal;
    font-weight: normal;
    src: url('assets/font/causten/Causten-Regular.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenRegularOblique';
    font-style: oblique;
    font-weight: normal;
    src: url('assets/font/causten/Causten-RegularOblique.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenSemiBold';
    font-style: normal;
    font-weight: bold;
    src: url('assets/font/causten/Causten-SemiBold.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenSemiBoldOblique';
    font-style: oblique;
    font-weight: bold;
    src: url('assets/font/causten/Causten-SemiBoldOblique.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenThin';
    font-style: normal;
    font-weight: lighter;
    src: url('assets/font/causten/Causten-Thin.otf') format('otf');
  }
  
  @font-face {
    font-family: 'CaustenThinOblique';
    font-style: oblique;
    font-weight: lighter;
    src: url('assets/font/causten/Causten-ThinOblique.otf') format('otf');
  }
  