.btn {
    text-transform: unset !important;
}

$num-of-char: 6;
$char-width: 1ch;
$gap: .4 * $char-width;
$in-w: $num-of-char * ($char-width + ($gap));

.otp_input {
    display: block;
    border: none;
    width: $in-w+0.1;
    color: silver;
    background: repeating-linear-gradient(90deg, 
    silver 0, silver $char-width, 
        transparent 0, transparent $char-width + $gap) 
        0 100%/ #{$in-w - $gap} 2px no-repeat;
    font: 3ch "Courier New";
    font-variant-numeric: tabular-nums;
    letter-spacing: $gap;

    &:focus {
        outline: none;
    }
}