
<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">

    <div>


        <form class="card p-5 text-center align-items-center" [formGroup]="form">

            <img src="{{logo}}" alt="" style="width: 200px;">
            
            <h2 innerHTML="WELCOME {{form_name}}!"></h2>

                <div *ngIf="!otp_session">
                    <br>
                    <p class="text-center" style="font-style: normal; font-weight: lighter;">Enter your mobile number</p>

                    <input name="countryCode" type="phone" class="col-4" formControlName="country"
                            value="+91" id="country_code"
                            style="width: 70px; background-color: transparent; 
                            color: black; font-size: 20px;
                            background-color: transparent;
                            -webkit-appearance: none;
                            border: 0px solid; outline:0px;
                            border-bottom: 1px solid black;
                            padding: 5px 10px; margin: 5px;
                            outline: none; text-align: center;">
                    

                    

                    <input type="tel" formControlName="phone" class="col-8" placeholder="000 000 0000"  maxlength="10"
                    id="phone"
                    style="color: black; background-color: transparent; font-size: 20px;
                    border:none;
                    border-bottom: 1px solid black;
                    padding: 5px 10px;
                                margin: 5px;
                    outline: none;"><br><br>

                </div>



                <!-- <div *ngIf="otp_session">
                    <br>
                    <h5 class="ms-5" style="font-style: normal; font-weight: lighter;">Check SMS for OTP</h5>
                    <br>
                    <div class="d-flex justify-content-center align-items-center">

                        <input class="otp_input" type="text" pattern="\d*" maxlength="6" formControlName="otp" (keyup.enter)="verify()" id="otp">
                                   
                    </div>  

                    <br>
                    
                    <div class="d-flex justify-content-end">
                        <button class="btn-sm" style="font-size: 12px; color: gray; background-color: transparent; border-color: transparent; margin-right: 15px;" id="resend_otp"
                        (click)="resend_otp()">Resend OTP</button>
                    </div>
                </div>


                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" style="border-radius: 5px; font-weight: lighter; margin-right: 15px;" (click)="check()" *ngIf="!otp_session" id="generate_otp">Generate OTP</button>
                </div>

                <div class="row">
                    <div class="col-6 d-flex justify-content-start">
                        <mat-icon (click)="otp_session = !otp_session" *ngIf="otp_session" id="back"
                        style="color:white; margin-left: 20px; font-weight: 1;">arrow_back</mat-icon>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button class="btn btn-primary" style="border-radius: 5px; font-weight: lighter; margin-right: 20px;" id="verify_top"
                        (click)="verify()" *ngIf="otp_session">Verify OTP</button>
                    </div>
                </div>
                <br><br> -->

                
                
            <button (click)="start()" class="btn btn-primary btn-md w-100 text-center" style="font-size: 16px;"> 
                Start <i class="fas fa-arrow-right ms-2" style="font-size: 16px;"></i>
            </button> 

        </form>
    </div>

</div>



<footer *ngIf="suspended" class="attribution" style="position: fixed; bottom: 0; width: 100%; background-color: white; text-align: center;">
    Developed by <a href="https://infotechgalaxy.com">InfotechGalaxy</a>
</footer>
  



<div class="text-center justify-content-center align-items-center d-flex">
    <div id="recaptcha-container" data-theme="dark"></div>
</div>

